@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  font-family: "Playfair Display", serif;
}

body.no-scroll {
  overflow: hidden;
}

.roboto-font {
  font-family: "Roboto", sans-serif !important;
}

.title-font {
  font-family: "Great Vibes", cursive !important;
}

@layer components {
  .responsive {
    @apply absolute flex flex-col text-center h-full w-full pt-16 text-lg text-yellow-600 uppercase bg-white bg-opacity-80;
  }
}

@layer components {
  .btn {
    @apply px-3 my-0 font-bold tracking-widest uppercase border-2 border-black hover:bg-black hover:text-white;
  }
}

.item {
  @apply relative overflow-hidden md:w-1/4;
}

.gradient {
  @apply absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b from-slate-100 to-transparent group-hover:from-gray-50 group-hover:to-white group-hover:opacity-50;
}
/* ___________________HERO__________________ */
#sedi1 {
  background-image: url("../../public/sede1.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#sedi2 {
  background-image: url("../../public/sede_2.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero .video-bg {
  /* background-image: url("../../public/hero_d.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: black;
}

/* @media (max-width: 576px) {
  #hero {
    background-image: url("../../public/hero_m_2.jpg");
    background-position: center;
    background-size: cover;
  }
} */
/* ___________________HERO__________________ */

/* ___________________HAMBURGER__________________ */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  transition: all 0.25s;
}

.hamburger-bot,
.hamburger-mid,
.hamburger-top {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-mid {
  transform: translateY(7px);
}
.hamburger-bot {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-mid {
  display: none;
}

.open .hamburger-bot {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
/* ___________________HAMBURGER__________________ */

/** Slider carousel **/
.react-slideshow-container + ul.indicators {
  gap: 8px;
}

.thumb-image-carousel {
  opacity: 0.8;
  cursor: pointer;
}
.thumb-image-carousel.active {
  border: 2px solid black;
  opacity: 1;
}

.txt-white {
  color: white !important;
}

/* Lang menu container */
.lang-menu-container {
  box-sizing: border-box;
  position: relative;
}
@keyframes example {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 1000px;
  }
}
.lang-menu-dropdown {
  position: absolute;
  padding: 12px;
  z-index: 2;
  min-width: 120px;
  margin: 0;
  margin-top: 8px;
  text-indent: 0;
  list-style-type: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms linear;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 8px 8px -8px rgba(0, 75, 128, 0.24),
    0px 0px 8px -2px rgba(0, 75, 128, 0.16);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lang-menu-dropdown::-webkit-scrollbar {
  display: none;
}

.lang-menu-dropdown.open-dropdown {
  animation-name: example;
  animation-duration: 2s;
  visibility: visible;
  opacity: 1;
  overflow: auto;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-opacitiy {
  animation-name: opacity;
  animation-duration: 3s;
}

.nextui-c-hdxYb svg {
  color: black !important;
}

.menu-is-open {
  overflow: hidden;
}

#storia,
#collezioni,
#sedi {
  scroll-margin-top: 100px;
}

#intro {
  height: 0;
}

#intro.not-visible {
  height: 0;
  transition: height 1s;
  background-color: black !important;
}

#intro.visible {
  display: block;
  position: fixed;
  background-color: black !important;
  z-index: 999;
  width: 100%;
  height: 100vh;
}

@keyframes move {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.star {
  position: absolute;
  background: #cea95b;
  border-radius: 100%;
  animation: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
}

#intro.not-visible .star {
  height: 0 !important;
  width: 0 !important;
}
